Continues Data pre-processing

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataSet = pd.read_csv("./50_Startups.csv")

In [ ]:
print(dataSet)

    R&D Spend  Administration  Marketing Spend     Profit
0   165349.20       136897.80        471784.10  192261.83
1   162597.70       151377.59        443898.53  191792.06
2   153441.51       101145.55        407934.54  191050.39
3   144372.41       118671.85        383199.62  182901.99
4   142107.34        91391.77        366168.42  166187.94
5   131876.90        99814.71        362861.36  156991.12
6   134615.46       147198.87        127716.82  156122.51
7   130298.13       145530.06        323876.68  155752.60
8   120542.52       148718.95        311613.29  152211.77
9   123334.88       108679.17        304981.62  149759.96
10  101913.08       110594.11        229160.95  146121.95
11  100671.96        91790.61        249744.55  144259.40
12   93863.75             NaN        249839.44  141585.52
13   91992.39       135495.07        252664.93  134307.35
14  119943.24       156547.42        256512.92  132602.65
15  114523.61       122616.84        261776.23  129917.04
16   78013.11       121597.55        264346.06  126992.93
17   94657.16             NaN        282574.31  125370.37
18   91749.16       114175.79        294919.57  124266.90
19   86419.70       153514.11             0.00  122776.86
20   76253.86       113867.30        298664.47  118474.03
21   78389.47       153773.43        299737.29  111313.02
22   73994.56       122782.75        303319.26  110352.25
23   67532.53       105751.03        304768.73  108733.99
24   77044.01        99281.34              NaN  108552.04
25   64664.71       139553.16        137962.62  107404.34
26        NaN       144135.98        134050.07  105733.54
27   72107.60       127864.55        353183.81  105008.31
28   66051.52       182645.56        118148.20  103282.38
29   65605.48       153032.06        107138.38  101004.64
30   61994.48       115641.28         91131.24   99937.59
31   61136.38       152701.92         88218.23   97483.56
32   63408.86       129219.61         46085.25   97427.84
33   55493.95       103057.49        214634.81   96778.92
34   46426.07       157693.92        210797.67   96712.80
35   46014.02             NaN        205517.64   96479.51
36   28663.76       127056.21        201126.82  900708.18
37   44069.95        51283.14        197029.42   89949.14
38   20229.59        65947.93        185265.10   81229.06
39   38558.51        82982.09        174999.30   81005.76
40   28754.33       118546.05        172795.67   78239.91
41   27892.92        84710.77        164470.71   77798.83
42   23640.93        96189.63        148001.11   71498.49
43   15505.73       127382.30         35534.17   69758.98
44   22177.74       154806.14         28334.72   65200.33
45    1000.23       124153.04          1903.93   64926.08
46    1315.46       115816.21        297114.46   49490.75
47       0.00       135426.92             0.00   42559.73
48     542.05        51743.15             0.00   35673.41
49       0.00       116983.80         45173.06   14681.40

In [ ]:
np.shape(dataSet)

(50, 4)

In [ ]:
type(dataSet)

pandas.core.frame.DataFrame

In [ ]:
Y = dataSet["Profit"]
print(Y)

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36    900708.18
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [ ]:
# iloc for Selecting values i.e Slicing in pd - DataFrame [ using indexes ]
# loc is for Selecting values i.e Slicing in pd - DataFrames [ using keyword]

In [ ]:
X = dataSet.iloc[:,:-1]
print(X)

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75             NaN        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16             NaN        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34              NaN
25   64664.71       139553.16        137962.62
26        NaN       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02             NaN        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [ ]:
X.isnull().sum()

R&D Spend          1
Administration     3
Marketing Spend    1
dtype: int64

In [ ]:
X["R&D Spend"] = X["R&D Spend"].fillna(X["R&D Spend"].mean())
X["Administration"] = X["Administration"].fillna(X["Administration"].mean())
X["Marketing Spend"] = X["Marketing Spend"].fillna(X["Marketing Spend"].mean())

C:\Users\MLRIT\AppData\Local\Temp\ipykernel_4936\473782241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["R&D Spend"] = X["R&D Spend"].fillna(X["R&D Spend"].mean())
C:\Users\MLRIT\AppData\Local\Temp\ipykernel_4936\473782241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Administration"] = X["Administration"].fillna(X["Administration"].mean())
C:\Users\MLRIT\AppData\Local\Temp\ipykernel_4936\473782241.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Marketing Spend"] = X["Marketing Spend"].fillna(X["Marketing Spend"].mean())

In [ ]:
X.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=1)

In [ ]:
type(y_test)

pandas.core.series.Series

Reference : 

1. How To Convert Pandas Dataframe To Numpy Array - With Examples - Stack Vidhya

https://www.stackvidhya.com/how-to-convert-pandas-dataframe-to-numpy-array/#:~:text=How%20to%20Convert%20Pandas%20Dataframe%20to%20Numpy%20Array,Array%20...%207%20You%20May%20Also%20Like%20

2. Data Preprocessing in Machine learning - Javatpoint

https://www.javatpoint.com/data-preprocessing-machine-learning

3. Machine Learning A-Z: Download Codes and Datasets - Page - SuperDataScience | Machine Learning | AI | Data Science Career | Analytics | Success

https://www.superdatascience.com/pages/machine-learning

4. simple imputer sklearn for transforming

https://www.bing.com/search?q=simple+imputer+sklearn+for+transforming&qs=n&form=QBRE&sp=-1&pq=simple+imputer+sklearn+for+transformin&sc=10-38&sk=&cvid=7FA75874BF58426C8C21E01A560B7688&ghsh=0&ghacc=0&ghpl=

5. How to Handle Null Values in Pandas (pythonsansar.com)

https://pythonsansar.com/how-to-handle-null-values-in-pandas/#:~:text=How%20to%20Handle%20Null%20Values%20in%20Pandas%201,4.%20Using%20the%20mean%2C%20median%2C%20and%20mode%20method